.source-box {
    width: 60rem;
    height: 8rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    background: yellow;
}
